.content {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 120px;
}

.cards-section {
  margin-left: 340px;
  margin-right: 420px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: 120px;
}

.section-heading {
  margin-bottom: -20px;
}

.section-label {
  font-size: 14px;
  color: #666666;
}

.card {
  min-height: 185px;
  background: var(--card);
  padding: 18px;
}

.card h2 {
  font-size: 18px;
  font-weight: 500;
}