*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: system-ui, -apple-system, Helvetica, Arial;
  background:#0a0a0a;
  color:white;
}

a{
  color:inherit;
  text-decoration:none;
}